.main_body{
  width: 1000px;
  height: 600px;
  background-image: url("images/tree.png"), url('images/line.png');    
  background-repeat: no-repeat, repeat-x;
  background-position: right bottom, center top;
  /*background-image:url('/images/cloud3.jpg.jpg');
  background-size: 50px 250px;
  background-size: auto auto;
  background-size: 100% 50%;*/
    
}

h1{
    color: lightblue;
    font-size: 50px;
    
 }